
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('./public/pexels-christian-heitz-285904-842711.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}


.weather-container {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  color: white;
  text-align: center;
  max-width: 400px;
  width: 100%;
}


input[type="text"] {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00aaff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #008ecc;
}
